<% content_for :header do %>
	<h1 id="wall-title">Walls</h1>
<% end %>

<div class="right"><%= link_to 'New project', new_project_path %></div>

<div class="walls">
	<% @projects.each do |project| %>
	    <div><h3><%= link_to project.title, project %><h3></div>
	<% end %>
</div>