!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Stickies
    %link(rel="Stylesheet" type="text/css" charset="utf-8" media="all" href="/stylesheets/reset.css")
    %link(rel="Stylesheet" type="text/css" charset="utf-8" media="all" href="/stylesheets/base.css")
    %link(rel="Stylesheet" type="text/css" charset="utf-8" media="all" href="/stylesheets/grid.css")
    %script{:type => "text/javascript", :src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    %script{:type => "text/javascript", :src => "/javascripts/analytics.js"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery-1.4.2.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery-ui-1.8.2.custom.min.js"}
    = yield_content :head
  %body
    %header
      .container_16
        .grid_3.logo Stickies
        .grid_8 &nbsp
    .clear &nbsp;      
    =yield
