!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title StoryHub
    %link(rel="Stylesheet" type="text/css" charset="utf-8" media="all" href="/stylesheets/reset.css")
    %link(rel="Stylesheet" type="text/css" charset="utf-8" media="all" href="/stylesheets/base.css")
    %link(rel="Stylesheet" type="text/css" charset="utf-8" media="all" href="/stylesheets/grid.css")
    %script{:type => "text/javascript",:src  => "/javascripts/jquery-1.4.2.min.js"}
    %script{:type => "text/javascript",:src  => "/javascripts/jquery-ui-1.8.2.custom.min.js"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17388222-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
  %body
    %header.container_16
      .grid_16
        %h4 StoryHub
    %nav.container_16
      .grid_4.prefix_12.wall_controls= yield_content :nav
    %article.container_16= yield
