%form(action='/walls/new' method='POST')
  %p
    %label(for="new_wall[name]") Name
    %input(type="text" id="new_wall[name]" name="new_wall[name]")
  %p
    %input(type="radio" name="new_wall[wall_type]" value="public" checked="true") public
    %input(type="radio" name="new_wall[wall_type]" value="private" disabled) private - coming soon!
  %p
    %input(type="submit" value="Create")
