.clear {
  clear: both; }

html, body {
  height: 100%; }

body {
  font-family: Arial;
  color: white;
  font-size: 12px;
  height: 100%;
  width: 100%;
  background-color: #4f4f47; }

a {
  color: white;
  text-decoration: none; }

a:hover {
  color: white;
  text-decoration: underline; }

header {
  height: 30px;
  display: block;
  -webkit-box-shadow: 0px 0px 4px -1px black inset;
  -moz-box-shadow: 0px 0px 4px -1px black inset; }
  header h4 {
    font-size: 5em; }

.new_story {
  display: none; }

.story_orange {
  background-color: #ff9900; }

.column_title {
  margin-bottom: 10px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px; }
  .column_title h3 {
    font-size: 1.3em;
    color: white;
    text-align: center; }

nav.header {
  text-align: right;
  line-height: 30px; }

#content {
  height: 100%; }

#content_body {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px black;
  -moz-box-shadow: 2px 2px 5px black;
  background-color: #556270;
  height: 500px;
  padding: 15px; }

#search {
  height: 30px;
  width: 300px; }

.highlight {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0px 0px 20px 0px;
  border: 2px dashed white; }

.sortable, .column_contents, .column_stories {
  height: 100%; }

.wall_controls {
  text-align: right; }

.logo {
  font-size: 2em; }

.walls {
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0px auto; }
  .walls span {
    font-size: 2em; }

.wall {
  border-top: 2px dashed white;
  padding: 20px;
  font-size: 1.5em; }

.wall_last {
  padding-bottom: 0px; }

a.new_wall {
  float: right;
  display: block; }

.columns {
  margin: 0px auto; }

.column {
  height: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.max_width {
  max-width: 33%;
  margin: 0px auto; }

article.columns {
  height: 93%; }

.column_contents {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.column_controls {
  float: right; }

.story {
  margin: 0px 0px 20px 0px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  word-wrap: break-word;
  -webkit-box-shadow: 0px 0px 2px black;
  -moz-box-shadow: 0px 0px 2px black; }

.story:hover {
  -webkit-box-shadow: 0px 0px 3px black;
  -moz-box-shadow: 0px 0px 3px black; }

.storytext {
  padding: 5px; }

.max_size {
  width: 100%;
  height: 100%; }

.max_height {
  height: 100%; }

.column {
  padding: 10px; }

.column_left {
  padding-left: 0px; }

.column_right {
  padding-right: 0px; }

.editable_area {
  width: 100%;
  overflow: visible; }

.column_title input {
  text-align: center; }

.login_label {
  font-size: 3em; }

.login_input {
  text-align: right; }
  .login_input input {
    width: 100%;
    font-size: 3em; }

.login_button {
  text-align: right; }

.login_controls div {
  padding-top: 5px;
  padding-bottom: 5px; }
