body { 
	background-color: #dc8;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

a:link, a:visited { color: #333; text-decoration: none;}
a:link:hover, a:visited:hover { text-decoration: underline; color: #333; } 

#header a:link, #header a:visited { color: #FFF; text-decoration: none;}
#header a:link:hover, #header a:visited:hover { text-decoration: underline; color: #FFF; }
 
#header { 
	background-color: #333;
	height: 150px;
	color: white;
}
 
#content { 
	background-color: #eec; 
	min-height: 650px; /* for modern browsers */
	height: auto !important; /* for modern browsers */
	height: 650px; /* for IE5.x and IE6 */
	padding: 1em;
}
 
#footer { 
	clear: both;
	background-color: #333;
	height: 100px;
}

h1 {
	color: white;
	font-size: 50px;
}

h3 {
	font-size: 2em;
	margin: 0.5em;
}

.left {
	float: left;	
}

.right {
	float: right;	
}

.clear {
	clear:	both;
}

.columns {
	margin:0px auto;
	max-width: 100%;
}

.header-menu {
	float: right;
	margin:1em;
}

.column {
	float: left;
	padding: 1%;
	margin: 1%;
	border: 0;
	background-color: pink;
	border:2px solid pink;
	min-height: 500px;
}

.column-title {

}

.story {
	float: left;
	padding: 5px;
	margin: 10px 10px 0px 0px;
	width: 200px;
	background-color: orange;
}

.column-drop-hover {
	border:2px solid blue;
}

.walls {
	width: 100px;
	margin: 0px auto;
}

#wall-title {
	padding: 1em;
	float: left;
}
