!!! XML
!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Energy... Wiggle wiggle
    %link(rel="Stylesheet" type="text/css" charset="utf-8" media="all" href="/stylesheets/reset.css")
    %link(rel="Stylesheet" type="text/css" charset="utf-8" media="all" href="/stylesheets/base.css")
    -#%link(rel="Stylesheet" type="text/css" charset="utf-8" media="all" href="/stylesheets/text.css")
    %link(rel="Stylesheet" type="text/css" charset="utf-8" media="all" href="/stylesheets/960.css")
  %body
    #header
      .container_12
        .grid_7
          %h4 
            StoryHub
        .grid_5  
          #controls
            %a#login(href='login') Login
            %a#signup(href='signup') Signup        

    #content.container_12
      .grid_12
        #content_body= yield
