%form(action='/walls/new' method='POST')
  %p
    %label(for="new_wall[name]") Name
    %input(type="text" id="new_wall[name]" name="new_wall[name]")
  %p
    %input(type="radio" name="new_wall[wall_type]" value="public") public - 1 left
    %input(type="radio" name="new_wall[wall_type]" value="private") private - 0 left
  %p
    %input(type="submit" value="Create")